# NOTE!
# Create the .env to the backend root and copy and fill the values below

# Server configuration
PORT=4000

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

# Other configuration
XAPI_KEY=your_api_key
