.zoom-button-container {
  position: absolute;
  top: 60px;
  left: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  z-index: 1000;
}

.zoom-button {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white; 
  font-size: 20px; 
  font-weight: bold;
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.zoom-icon {
  pointer-events: none;
}