.sidebar {
  position: fixed;
  left: 0px;
  top: 100px;
  bottom: 4px;
  width: 275px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(197, 211, 238);
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  overflow: hidden; /* Prevent content overflow */
  z-index: 999;
  transition: left 0.3s ease;
}

.sidebar.hidden {
  left: -285px;
}

.tab-sourcebar {
  display: flex;
  margin-bottom: 10px;
  flex-shrink: 0; /* Prevent the tab bar from shrinking */
}

.tab-databar {
  display: flex;
  margin-bottom: 20px;
  flex-shrink: 0; /* Prevent the tab bar from shrinking */
}

.tab {
  width: 83px; /* Set a fixed width for each tab button */
  height: 40px; /* Set a fixed height for each tab button */
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  line-height: 20px; /* Center the text vertically */
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.tab[disabled] {
  background-color: rgba(255, 255, 255, 0.05); /* Lighter background */
  color: rgba(255, 255, 255, 0.5); /* Dimmed text color */
  cursor: not-allowed; /* Show "not allowed" cursor */
  pointer-events: none; /* Prevent any interaction */
}

.tab-content {
  flex-grow: 1; /* Allow the tab content to grow and take up remaining space */
  display: none;
  padding: 10px;
  overflow: hidden; /* Prevent overflow */
}

.tab-content.active {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

.data-grid-container {
  flex-grow: 1; /* Allow the DataGrid to grow vertically */
  flex-basis: auto; /* Allow it to take up the remaining vertical space */
  width: 230px; /* Set a fixed width for the horizontal size */
  margin-bottom: 10px; /* Add some margin to the bottom */
  overflow: hidden; /* Prevent overflow */
}

/* For Firefox */
.data-grid-container .MuiDataGrid-root {
  scrollbar-width: none; /* Options: auto, thin, none */
  scrollbar-color: #888 #444; /* Thumb color and track color */
}

.data-grid-container .MuiDataGrid-root {
  height: 100%; /* Ensure the DataGrid fills the container */
  width: 100%; /* Ensure the DataGrid fills the container width */
}

.sidebar-toggle {
  position: fixed;
  left: 285px;
  top: 100px;
  bottom: 4px; /* Match the sidebar's bottom position */
  width: 30px; /* Narrow width to make it a handle */
  background: rgba(0, 0, 0, 0.3);
  color: rgb(197, 211, 238);
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.3s ease;
}

.sidebar-toggle.hidden {
  left: 0;
}

.sidebar-toggle span {
  font-size: 24px;
}

.grid {
  background: rgba(0, 0, 0, 0.3);
}

.custom-pagination {
  background-color: #333333;
  color: #ffffff;
}