.sticky-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px;
  width: 100%;
  color: white;
  text-align: center;
  align-items: center;
}

.sticky-header.sticky {
  position: sticky;
  align-items: center; 
}

h3 {
  font-family: Arial;
  letter-spacing: 20px;
  color: rgb(197, 211, 238);
  align-items: center;
}

h2 {
  font-family: Arial;
  letter-spacing: 40px;
  color: rgb(197, 211, 238);
  align-items: center;
}

h1 {
  font-family: Arial;
  letter-spacing: 50px;
  color: rgb(197, 211, 238);
  align-items: center;
}